.advantage {
    padding-bottom: 110px;
}

.advantage__heading {
    margin-bottom: 58px;
    text-align: center;
}

.advantage__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 35px;
}


