.advantage-item {
    text-align: center;

    &:hover .advantage-item__icon{
        circle {
            fill: $orange-color;
            
        }

        path, ellipse {
            fill: $white-color;
        }
    }

    &__img {
        margin-bottom: 15px;
    }

    &__title {
        margin-bottom: 2px;
        font-size: 28px;
    }

    &__icon {
        circle {
            fill: rgba(88, 190, 191, 0.2);
    
        }
    
        path, ellipse {
            fill: #58BEBF;
        }
    }

}