.card-testimonial{

    background: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
    max-width: 350px;
    color: $black-color;

    &:hover{
        box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);
        transition: box-shadow 0.2s ease-in;

        .card-testimonial__btn-play {
            transform: translateY(0);
            opacity: 1;
            transition: transform 0.3s ease-in, opacity 0.3s ease-in;
        }
    }

    
}

.card-testimonial__img-wrapper{
    position: relative;
}

.card-testimonial__img {
    margin-bottom: 31px;
}

.card-testimonial__body {
    padding: 0 30px;
    
    p{
        max-width: 275px;
    }

    p:last-child{
        padding-bottom: 30px;
        
    }
}

.card-testimonial__name {
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
}
.card-testimonial__city {
    color: $orange-color;
    font-weight: 400;


    &--blue{
        color: #58BEBF;
    }

}

.card-testimonial__btn-play {
    position: absolute;
    right: 20px;
    bottom: 40px;
    transform: translateY(50%);
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;

    svg{
        circle {
            fill: #FFFFFF; 
            transition: fill 0.2s ease-in;
        }
       
        path {
            fill: $orange-color;
            transition: fill 0.2s ease-in;
        }
        
    }

    svg:hover{
        circle {
            fill: $orange-color; 
        }
       
        path {
            fill:#FFFFFF;
        }
    }

}