.cta{
    padding-top: 74px;
    padding-bottom: 144px;

    &__block{
        background: #58BEBF;
        color: $white-color;
        border-radius: 20px;
    }

    &__row {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    &__img {
        margin-top: 60px ;
        background-color: $white-color;
        box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
        border-radius: 0px 21px 0px 0px;
        
        padding: 24px 24px 0px 0px;
    }

    &__content {
        width: 555px;
        box-sizing: content-box;
        position: relative;
        padding-left: 95px;
        padding-right: 40px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        background: 
            url("./../img/cta/oval-bottom.svg") left -186px bottom no-repeat,
            url("./../img/cta/oval-top.svg") right top no-repeat;
            
        p {
            width: 320px;
        }
    }

    &__title {
        margin-bottom: 15px;
    }

    &__buttons-row {
        display: flex;
        align-items: center;
        margin-top: 30px;
        column-gap: 20px;
    }
}

