.footer{
    padding-top: 86px;
    padding-bottom: 82px;

    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        h2 {
            margin-left: 15px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__info{
        p{
            margin-bottom: 40px;
            max-width: 300px;
        }
    }

    &__socials{
        display: flex;
        align-items: center;
        column-gap: 30px;


        a:hover{
            opacity: 0.7;
        }
    }

    &__nav{
        display: flex;
        column-gap: 85px;
    }
    
    &__nav-block{
        font-size: 14px;

        li {
            margin-bottom: 13px;
        }
        
        a {
            color: $black-color;
        }
    }

    &__nav-block-title {
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 18px;
    }

}
