.nav {
    padding-top: 40px;
    padding-bottom: 36px;
}   

.nav__logo{
    display: flex;
    align-items: center;

    h2{
        margin-left: 15px;
    }
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #323232;
}

.nav__list {
    font-weight: 400;

    ul {
        display: flex;
        column-gap: 42px;
    }

    a {
        &.active{
            font-weight: 700;
        }

        &.active,
        &:hover{
            color: $orange-color;
        }
    }

}